body {
    background: #28666E;
}

#main {
    background: linear-gradient(to top, #28666E, #77A0A9 10%);
}

.list-group {
    margin: 0;
}

.col-sm-3 {
    background: #6C596E;
    border-right: thick solid #59495B;
    height: 100%;
}

.navbar {
    margin: 0;
    padding: 20px;
}

article button {
    float: left;
    padding: 0;
}

.navcontainer {
    overflow: auto;
    height: calc(100% - 40px);
}

.list-group-item {
    border: 2px solid #59495B;
    background: rgba(216, 219, 226, .3);
}

.list-group-item:first-child {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.list-group-item:last-child {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.leftbar {
    height: 100%;
    padding: 0;
}

.buttons {
    width: 100%;
    padding: 3px;
}

.buttons .btn {
    width: 33.33%;
}

ul {
    list-style-type: none;
    padding-left: 20px;
}

hr {
    padding: 0;
    margin: 0; 
    border-top-color: #59495B;
}

.btn-xs, hr {
    margin-top: 4px;
}

.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none;
}

article {
    margin: 4% 8% 0% 8%;
}

.table tbody tr td {
    vertical-align: middle;
}

article button {
    background-color: transparent;
    text-align: left;
    padding: none;
}

a:link, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration-line: underline;
    cursor: pointer;
}

.glyphicon-arrow-right, .glyphicon-minus, .sectionLink, .sectionLink:link, .sectionLink:visited {
    color: #65506E;
}

.unitLink, .unitLink:hover {
    font-size: large;
    color: #33223A;
}

.lessonLink, .lessonLink:hover {
    font-size: medium;
    color: #4F345A;
}

.sectionLink, .sectionLink:link, .sectionLink:visited {
    font-size: small;
}

.special {
    background-color: #28112B;
    color: #EFECCA;
}

p {
    font-size: medium;
}

th {
    font-size: large;
}

.audio {
    border: none;
    outline: none;
}