body {
    background: #77A0A9;
}

.col-sm-3 {
    background: #6C596E;
    height: 100%;
}

.navbar {
    margin: 0;
    padding: 20 20 0 20;
}

.navcontainer {
    overflow: auto;
    height: calc(100% - 40px);
}

.list-group-item {
    background: #8A8E91;
}

.leftbar {
    height: 100%;
    padding: 0;
}

.buttons {
    width: 100%;
    padding: 3px;
}

.buttons .btn {
    width: 33.33%;
}

ul {
    list-style-type: none;
    padding-left: 20px;
}

hr {
    padding: 0;
    margin: 0; 
}

.btn-xs, hr {
    margin-top: 4px;
}

.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none;
}

article {
    margin: 4% 8% 0% 8%;
}

button {
    background-color: #77A0A9;
}

a, a:link, a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration-line: underline;
}

.special {
    background-color: #28112B;
    color: #EFECCA;
}

p {
    font-size: medium;
}

th {
    font-size: large;
}

.audio {
    border: none;
    outline: none;
}